* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    border: 2px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 2000px;
    height: 2000px;
}
html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

.button1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* Green */
.button2 {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* Blue */
.button3 {
    background-color: #f44336;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* Red */
.button4 {
    background-color: #e7e7e7;
    color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 500px;
}
/* Gray */
.button5 {
    background-color: #555555;
}
/* Black */
/*.button {
    background-color: #4CAF50;*/ /* Green */
/*border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 500px;
}*/
/*#canvas {
    border: 1px solid black;
}*/