<button type="button" class="button1 btn" id="1" onclick="toolbox.selectedTool.changeFill(this)">1</button>
<button type="button" class="button2 btn" id="2" onclick="toolbox.selectedTool.changeFill(this)">2</button>
<button type="button" class="button3 btn" id="3" onclick="toolbox.selectedTool.changeFill(this)">3</button>