@model PaintByNumbersProject.Models.ImageModel

@{
	ViewData["Title"] = "Painting Image";
}
<link rel="stylesheet" type="text/css" href="~/css/paintCanvas.css">

<h1>Paiting image: @Model.Title</h1>

<div class="row mb-3">
	<div class="col-md-12">
		<a href="/Image" class="btn btn-warning mr-3">Back to List</a>
		@if (Model.PaintImageName != "Empty")
		{
			<button type="button" class="btn btn-success mt-1 mr-3 float-right" id="btnSaveImage" onclick="SaveImage()" style="display:none;">Save Changes</button>
		}
	</div>
</div>

@if (Model.PaintImageName == "Empty")
{
	<h5>The image to paint has not been generated yet.</h5>
	<a href="/Image/Details/@Model.ImageId" class="btn btn-primary mb-3 mr-3 ocultar">Go to Generate the Painting Image!</a>
}
else
{
	<h5>Instructions:</h5>
	<p>To paint each frame, first click on the desired color and then click on the area you want to color.</p>
	<div class="hor-center">
		@await Html.PartialAsync("_PaitingButtons")
		<br />
		<br />
</div>
	<script>
		var imageURL = '/Image/@Model.PaintImageName';
		var ImageID = '@Model.ImageId';
	</script>
	<script src="/js/p5.js"></script>
	<script src="/js/sketch.js"></script>
}