@{
	ViewData["Title"] = "Demo";
}

<link rel="stylesheet" type="text/css" href="~/css/paintCanvas.css">

<h1>Demo of Painting</h1>
<h5>Instructions:</h5>
<p>To paint each frame, first click on the desired color and then click on the area you want to color.</p>
<div class="hor-center">
	@await Html.PartialAsync("_PaitingButtons")
	<br />
	<br />
</div>
<script>
	var imageURL = '/Image/example-image.png';
	console.log(imageURL);
</script>
<script src="/js/p5.js"></script>
<script src="/js/sketch.js"></script>