<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="stylesheet" href="~/css/paintCanvas.css" />
        <title>Canvas</title>
    </head>
    <body>
        <canvas id="canvas"></canvas>
        <script src="~/js/paintCanvas.js"></script>
    </body>

</html>


@*<html>
  <head>
    <title>Create HTML5 Canvas JavaScript Paint Bucket Example</title>
  </head>
  <body>
    <div id="canvasDiv"></div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    @*<script type="text/javascript" src="~/js/excanvas.js"></script>
    <script type="text/javascript" src="~/js/html5-canvas-paint-bucket.js"></script>
    <script type="text/javascript"> $(document).ready(function () {
    	 paintBucketApp.init();
        });

</script>
  </body>
</html>
*@



