  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/paintCanvas.css">
    <meta charset="utf-8" />

  </head>
  <body>
    <h1>frog_example.png Rough Example</h1>
    <script src="/js/sketch.js"></script>
     <button type="button" class="button1" id="1" onclick="toolbox.selectedTool.changeFill(this)">1</button>
    <button type="button" class="button2" id="2" onclick="toolbox.selectedTool.changeFill(this)">2</button>
    <button type="button" class="button3" id="3" onclick="toolbox.selectedTool.changeFill(this)">3</button>
  </body>